{% extends "wrapper.html" %}

{% block content %}
<h1>Node list</h1>
<ul id='nodes'></ul>
<script>
    $.get("/api/nodes/",
        function (data, status) {
            console.log("Data: " + data + "\nStatus: " + status);
            var nodes_el = document.getElementById('nodes')
            data["nodes"].forEach(function (currentValue, index, arr) {
                console.log(currentValue)
                var node_el = document.createElement('li')
                var a = document.createElement("a");
                a.href = "/nodes/" + currentValue["id"]
                var content = document.createTextNode(
                    "ID: " + currentValue["id"] + ", url: " + currentValue["url"] + ", is_active: "
                        + currentValue["is_active"] + ", online: "
                )
                var node_online_el = document.createElement('span')
                var node_online_content = document.createTextNode(currentValue["is_online"])
                node_online_el.appendChild(node_online_content)
                node_online_el.id = "node-online-" + currentValue["id"]
                a.appendChild(content)
                a.appendChild(node_online_el)
                node_el.appendChild(a)
                nodes_el.appendChild(node_el)
            }
        );
    });
</script>
{% endblock %}
