{% extends "wrapper.html" %}

{% block content %}
    <div id='node' style="font-weight: bold">Node {{ node_id }}. </div>
    <h2 style="text-align: center">Lamps</h2>
    <div id="lamps" style="font-size: 30pt;text-align: center"></div>
    <h2 style="text-align: center">Sensors</h2>
    <div id="sensors" style="text-align: center"></div>
    <script>
        $.get("/api/nodes/{{ node_id }}",
            function (data, status) {
                console.log("Data: " + data + "\nStatus: " + status);
                var node_el = document.getElementById('node')
                var content = document.createTextNode(
                    "ID: " + data["id"] + ", is_active: " + data["is_active"] + ", online: "
                )
                var node_online_el = document.createElement('span')
                var node_online_content = document.createTextNode(data["is_online"])
                node_online_el.appendChild(node_online_content)
                node_online_el.id = "node-online-" + data["id"]
                node_el.appendChild(content)
                node_el.appendChild(node_online_el)
            }
        );
        $.get("/api/nodes/{{ node_id }}/lamps",
            function (data, status) {
                console.log("Data: " + data + "\nStatus: " + status);
                var lamps_el = document.getElementById('lamps')
                data["data"].forEach(function (currentValue, index, arr) {
                    console.log(currentValue)
                    var lamp_div_el = document.createElement('div')
                    lamp_div_el.style.margin = "30pt"
                    var lamp_input_el = document.createElement('input')
                    lamp_input_el.type = "checkbox";
                    lamp_input_el.style.width = "20pt"
                    lamp_input_el.style.height = "20pt"
                    lamp_input_el.style.margin = "10pt"
                    lamp_input_el.dataset.id = currentValue["id"];
                    lamp_input_el.id = "lamp-" + currentValue["id"];
                    lamp_input_el.onchange = sendMessage;
                    if (currentValue["value"]) {
                        lamp_input_el.checked = true
                    }
                    var lamp_label_el = document.createElement('label')
                    lamp_label_el.htmlFor = "lamp-" + currentValue["id"];
                    var lamp_label_text = document.createTextNode(
                        currentValue["id"] + ". " + currentValue["name"] + ", v: "
                    )
                    lamp_label_el.appendChild(lamp_label_text)

                    var lamp_value_el = document.createElement('span')
                    lamp_value_el.id = "lamp-value-" + currentValue["id"];
                    var lamp_value_text = document.createTextNode(currentValue["value"])
                    lamp_value_el.appendChild(lamp_value_text)

                    var lamp_updated = new Date(Date.parse(currentValue["updated"] + "Z"));
                    var lamp_updated_el = document.createElement('span');
                    lamp_updated_el.style.padding = "0 0 0 30pt";
                    lamp_updated_el.style.fontSize = "20pt";
                    lamp_updated_el.style.color = "#AAAAAA";
                    lamp_updated_el.id = "lamp-updated-" + currentValue["id"];
                    var lamp_updated_text = document.createTextNode(lamp_updated.toLocaleString("ru-RU"))
                    lamp_updated_el.appendChild(lamp_updated_text)

                    lamp_div_el.appendChild(lamp_input_el)
                    lamp_div_el.appendChild(lamp_label_el)
                    lamp_div_el.appendChild(lamp_value_el)
                    lamp_div_el.appendChild(lamp_updated_el)

                    lamps_el.appendChild(lamp_div_el)
                });
            }
        );
        $.get("/api/nodes/{{ node_id }}/sensors",
            function (data, status) {
                console.log("Data: " + data + "\nStatus: " + status);
                var sensors_el = document.getElementById('sensors')
                data["data"].forEach(function (currentValue, index, arr) {
                    console.log(currentValue)
                    var sensor_div_el = document.createElement('div')
                    var sensor_a = document.createElement("a");
                    sensor_a.href = "/nodes/{{ node_id }}/sensors/" + currentValue["id"]

                    var sensor_div_text = document.createTextNode(
                        currentValue["id"] + ". " + currentValue["name"] + ": "
                    )
                    sensor_a.appendChild(sensor_div_text);

                    var sensor_value_el = document.createElement('span')
                    sensor_value_el.id = "sensor-value-" + currentValue["id"];
                    sensor_value_el.style.fontWeight = "bold";
                    sensor_value_el.style.fontSize = "15pt";
                    var sensor_value_text = document.createTextNode(currentValue["value"])
                    sensor_value_el.appendChild(sensor_value_text)

                    var sensor_updated = new Date(Date.parse(currentValue["updated"] + "Z"));
                    var sensor_updated_el = document.createElement('span');
                    sensor_updated_el.style.padding = "0 0 0 30pt";
                    sensor_updated_el.style.color = "#AAAAAA";
                    sensor_updated_el.id = "sensor-updated-" + currentValue["id"];
                    var sensor_updated_text = document.createTextNode(sensor_updated.toLocaleString("ru-RU"))
                    sensor_updated_el.appendChild(sensor_updated_text)

                    sensor_div_el.appendChild(sensor_a)
                    sensor_div_el.appendChild(sensor_value_el)
                    sensor_div_el.appendChild(sensor_updated_el)

                    sensors_el.appendChild(sensor_div_el)
                });
            }
        );
        function sendMessage(event) {
            var obj = this;
            console.log("Lamp obj: ", obj)
            ws.send(JSON.stringify({
                "request_id": "1",
                "action": "send_lamps_state_to_nodes",
                "data": {"lamps": [{"id": obj.dataset.id, "value": obj.checked?1:0}]}
            }))
            event.preventDefault();
            return false;
        }
        function sendReset(event) {
            if (confirm("Вы уверены?")) {
                ws.send(JSON.stringify({
                    "request_id": "1",
                    "action": "restart_node",
                    "data": {
                        "id": {{ node_id }}
                    }
                }))
            }
            event.preventDefault();
            return false;
        }
    </script>
    <div style="text-align: center; margin-top: 20px;">
        <form action="" onsubmit="sendReset(event)">
            <button>Restart</button>
        </form>
    </div>
{% endblock %}
