{% extends "wrapper.html" %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div id='node' style="font-weight: bold"><a href="/nodes/{{ node_id }}">Node {{ node_id }}</a></div>
    <h2 style="text-align: center" id='sensor'></h2>
    <div id="myCharts"></div>

    <form action="" method="GET">
        <label for="start_date">Дата начала:</label>
        <input type="text" name="start_date" id="start_date">

        <label for="end_date">Дата окончания:</label>
        <input type="text" name="end_date" id="end_date">

        <label for="group_by">Группировка:</label>
        <select name="group_by" required id="group_by">
            <option value="minute">Минута</option>
            <option value="hour">Час</option>
            <option value="day">День</option>
            <option value="month">Месяц</option>
        </select>

        <button type="submit">Отправить</button>
    </form>

    <script>
        // Получаем строку запроса из текущего URL
        const urlParams = new URLSearchParams(window.location.search);

        // Извлекаем параметры
        const startDate = urlParams.get("start_date"); // Получает значение "2024-12-01"
        const endDate = urlParams.get("end_date");     // Получает значение "2024-12-31"
        const groupBy = urlParams.get("group_by");     // Получает значение "month"

        function drawSensorChart(node_id, sensor_data) {
            const charts_el = document.getElementById('myCharts');
            var chart_canvas = document.createElement('canvas');
            charts_el.appendChild(chart_canvas);
            const ctx = chart_canvas.getContext("2d");

            var apiUrl = "/api/nodes/" + node_id + "/sensors/" + sensor_data["id"] + "/history";
            var params = [];
            if (startDate) {
                params.push(`start_date=${encodeURIComponent(startDate)}`);
            }
            if (endDate) {
                params.push(`end_date=${encodeURIComponent(endDate)}`);
            }
            if (groupBy) {
                params.push(`group_by=${encodeURIComponent(groupBy)}`);
            }
            if (params) {
                apiUrl = apiUrl + "?" + params.join("&")
            }

            $.get(apiUrl,
                function (data, status) {
                    var labels = [];
                    var min_values = [];
                    var max_values = [];
                    var avg_values = [];
                    for (const element of data["data"]) {
                        const dt = new Date(element["period"]);
                        const hours = dt.getHours();
                        const minutes = dt.getMinutes();
                        const seconds = dt.getSeconds();

                        const formattedTime = `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;

                        labels.push(formattedTime);
                        avg_values.push(element["avg_value"]);
                        min_values.push(element["min_value"]);
                        max_values.push(element["max_value"]);
                    }

                    console.log("Data: " + data + "\nStatus: " + status);
                    const myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels,
                            datasets: [
                                {
                                    label: 'Min',
                                    data: min_values,
                                    backgroundColor: 'rgba(99, 99, 255, 0.2)',
                                    borderColor: 'rgba(99, 99, 255, 1)',
                                    borderWidth: 1,
                                },
                                {
                                    label: 'Avg',
                                    data: avg_values,
                                    backgroundColor: 'rgba(99, 255, 132, 0.2)',
                                    borderColor: 'rgba(99, 255, 132, 1)',
                                    borderWidth: 2,
                                },
                                {
                                    label: 'Max',
                                    data: max_values,
                                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                    borderColor: 'rgba(255, 99, 132, 1)',
                                    borderWidth: 1,
                                },
                            ],
                        },
                        options: {
                            scales: {
                                yAxes: [
                                    {
                                        ticks: {
                                            beginAtZero: true,
                                        },
                                    },
                                ],
                            },
                        },
                    });
                    const start_date_el = document.getElementById('start_date');
                    start_date_el.value = data["start_date"];

                    const end_date_el = document.getElementById('end_date');
                    end_date_el.value = data["end_date"];

                    const group_by_el = document.getElementById('group_by');
                    group_by_el.value = data["group_by"];

                }
            );
        }

        $.get("/api/nodes/{{ node_id }}/sensors/{{ sensor_id }}",
            function (data, status) {
                console.log("Data: " + data + "\nStatus: " + status);
                var sensors_el = document.getElementById('sensor')
                var sensor_div_text = document.createTextNode(
                    "Sensor " + data["id"] + ": " + data["name"]
                )
                sensors_el.appendChild(sensor_div_text);
                drawSensorChart({{ node_id }}, data);
            }
        );
    </script>
{% endblock %}
