<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>Node WebSocket</h1>
        <h2>Node Token: <span id="ws-id"></span></h2>
        <form action="">
            <input type="text" id="token" autocomplete="off" value="test"/>
            <input type="button" id="connect" value="Connect">
        </form>

        <form action="" onsubmit="sendMessage(event)">
            <input type="text" id="messageText" autocomplete="off" value='{"id": 17, "value": 1}'/>
            <input type="text" id="action" autocomplete="off" value='lamp_changed'/>
            <button>Send</button>
        </form>
        <ul id='messages'>
        </ul>
        <script>
            var ws;
            $("#connect").click(function(){
                var token = document.getElementById('token').value;
                console.log("Token: " + token);
                document.querySelector("#ws-id").textContent = token;
                ws = new WebSocket(`/ws/nodes?token=${token}`);
                ws.onmessage = function(event) {
                    var messages = document.getElementById('messages')
                    var message = document.createElement('li')
                    var content = document.createTextNode(event.data)
                    message.appendChild(content)
                    messages.appendChild(message)
                };
            });
            function sendMessage(event) {
                var input = document.getElementById("messageText")
                var action = document.getElementById("action")
                ws.send('{"request_id": "1", "action": "' + action.value + '", "data": ' + input.value + '}')
                // input.value = ''
                event.preventDefault()
            }

        </script>
    </body>
</html>