<!DOCTYPE html>
<html>
    <head>
        <title>Smarthome</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script>
            var ws;
            $(document).ready(function () {
                $.get("/api/auth/token",
                    function (data, status) {
                        console.log(data);
                        var token = data["token"];
                        console.log("Data: " + data + "\nStatus: " + status + "\nToken: " + token);
                        document.querySelector("#ws-id").textContent = token;
                        ws = new WebSocket(`/ws?token=${token}`);
                        // var ws = new WebSocket(`ws://localhost:8000/ws`);
                        ws.onmessage = function (event) {
                            var show_messages_log_el = document.getElementById('show-messages-log')
                            if (show_messages_log_el.checked) {
                                var messages = document.getElementById('messages')
                                var message = document.createElement('li')
                                // var content = document.createTextNode(data)
                                var content = document.createTextNode(event.data)
                                message.appendChild(content)
                                messages.appendChild(message)
                            }

                            console.log(event.data)
                            var event_data = JSON.parse(event.data)
                            console.log(event_data)
                            if (event_data && event_data.action && event_data.data) {
                                // if (event_data.action === "updated_values" && event_data.data.current_values) {
                                //     console.log(event_data.data.current_values)
                                //     event_data.data.current_values.forEach(function (item, index, arr) {
                                //         console.log(item)
                                //         var current_value_element = document.getElementById('current-value-' + item["id"])
                                //         console.log(current_value_element)
                                //         if (current_value_element) {
                                //             console.log("Update")
                                //             current_value_element.innerHTML = item["value"]
                                //         }
                                //     })
                                // }
                                if (event_data.action === "updated_lamp" && event_data.data) {
                                    console.log("Got updated_values");
                                    console.log(event_data.data);
                                    var lamp_input_element = document.getElementById('lamp-' + event_data.data["id"]);
                                    if (lamp_input_element) {
                                        console.log(lamp_input_element)
                                        console.log("Update")
                                        lamp_input_element.checked = event_data.data["value"]?true:false;
                                    }
                                    var lamp_value_element = document.getElementById('lamp-value-' + event_data.data["id"]);
                                    if (lamp_value_element) {
                                        console.log("Update")
                                        lamp_value_element.innerHTML = event_data.data["value"]
                                    }
                                    var lamp_updated_element = document.getElementById('lamp-updated-' + event_data.data["id"]);
                                    if (lamp_updated_element) {
                                        var lamp_updated = new Date(Date.parse(event_data.data["updated"] + "Z"));
                                        console.log("Update")
                                        lamp_updated_element.innerHTML = lamp_updated.toLocaleString("ru-RU");
                                    }
                                }
                                if (event_data.action === "updated_sensor" && event_data.data) {
                                    console.log("Got updated_sensor");
                                    console.log(event_data.data);
                                    var sensor_value_element = document.getElementById('sensor-value-' + event_data.data["id"]);
                                    if (sensor_value_element) {
                                        console.log("Sensor Update")
                                        sensor_value_element.innerHTML = event_data.data["value"]
                                    }
                                    var sensor_updated_element = document.getElementById('sensor-updated-' + event_data.data["id"]);
                                    if (sensor_updated_element) {
                                        var sensor_updated = new Date(Date.parse(event_data.data["updated"] + "Z"));
                                        console.log("Update")
                                        sensor_updated_element.innerHTML = sensor_updated.toLocaleString("ru-RU");
                                    }
                                }
                                if (event_data.action === "updated_node" && event_data.data) {
                                    console.log("Got updated_sensor");
                                    console.log(event_data.data);
                                    var node_value_element = document.getElementById('node-online-' + event_data.data["id"]);
                                    if (node_value_element) {
                                        console.log("Node Update")
                                        node_value_element.innerHTML = event_data.data["is_online"]
                                    }
                                }
                            }
                        };
                    }
                );
            });
        </script>
    </head>
    <body>
        <div>
            <a href="/">Main</a> | <a href="/nodes">Nodes</a>
        </div>
        <div>
        {% if session %}
            {% block content %}
            {% endblock %}
            <div style="margin-top: 30pt">Current session: {{ session }}. WS session: <span id="ws-id"></span></div>
        {% else %}
            <a href="/login">Login</a><br>
        {% endif %}
        </div>
        <div>
            <h3>Messages log</h3>
            <input type="checkbox" id="show-messages-log" /><label for="show-messages-log">Show messages log</label>
            <ul id='messages'></ul>
        </div>
    </body>
</html>
{# https://jinja.palletsprojects.com/en/3.1.x/templates/ #}
