<!DOCTYPE html>
<html>
    <head>
        <title>Smarthome</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script>
            var ws;
            $(document).ready(function () {
                $.get("/token",
                    function (data, status) {
                        console.log(data);
                        var token = data["token"];
                        console.log("Data: " + data + "\nStatus: " + status + "\nToken: " + token);
                        document.querySelector("#ws-id").textContent = token;
                        ws = new WebSocket(`/ws?token=${token}`);
                        // var ws = new WebSocket(`ws://localhost:8000/ws`);
                        ws.onmessage = function (event) {
                            var messages = document.getElementById('messages')
                            var message = document.createElement('li')
                            // var content = document.createTextNode(data)
                            var content = document.createTextNode(event.data)
                            message.appendChild(content)
                            messages.appendChild(message)

                            console.log(event.data)
                            var event_data = JSON.parse(event.data)
                            console.log(event_data)
                            if (event_data && event_data.data && event_data.data.current_values) {
                                console.log(event_data.data.current_values)
                                event_data.data.current_values.forEach(function (item, index, arr) {
                                    console.log(item)
                                    var current_value_element = document.getElementById('current-value-' + item["id"])
                                    console.log(current_value_element)
                                    if (current_value_element) {
                                        console.log("Update")
                                        current_value_element.innerHTML = item["value"]
                                    }
                                })
                            }
                        };
                    }
                );
            });
        </script>
    </head>
    <body>
        <a href="/">Main</a> | <a href="/nodes">Nodes</a>
        {% if session %}
            <div>Current session: {{ session }}. WS session: <span id="ws-id"></span></div>
            {% block content %}
            {% endblock %}
        {% else %}
            <a href="/login">Login</a><br>
        {% endif %}
        <ul id='messages'></ul>
    </body>
</html>
{# https://jinja.palletsprojects.com/en/3.1.x/templates/ #}
